<phpunit bootstrap="phpunit-bootstrap.php"  colors="true">
        <testsuite name="EC_XHProf Tests">
                <directory>tests/</directory>
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">EC</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="90" highLowerBound="100"/>
    </logging>
</phpunit>
